/*  Jaron's styles to incorporate
table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
*/
BODY {
	font-family: /* "Trebuchet MS",*/ Verdana, Arial, Sans-Serif;
}
TABLE {
	clear: both;
}
table.tSorter {
	/* so that multiple adjacent borders do not create "doubled" borders */
	border-collapse: collapse;
	font-size: 12px;
}
table.tSorter thead tr th {
	border: 1px solid #666666;
	padding-right: 18px;
	padding-left: 3px;
}
/* non-selected, sortable columns' header cell */
table.tSorter thead tr {background-color: #CCCCCC;}
table.tSorter thead tr .header {
	background: url(/imgs/jq/bg.gif) no-repeat center right;
	cursor: pointer;
}
/* regular body cells in sorter table */
table.tSorter tbody td {
	border: 1px solid #BBBBBB;
	color: #3D3D3D;
	padding: 1px 4px;
}
/* for "odd" alternating rows, when the "zebra" widget is used */
table.tSorter tbody tr.odd td {background-color:#F0F0F6;}
/* for "even" alternating rows, when the "zebra" widget is used (correct class, right?) */
/* table.tSorter tbody tr.even td {background-color:#FFFFFF;} */
/* for header cell for column that is selected as sort-up column */
table.tSorter thead tr .headerSortUp {background-image: url(/imgs/jq/asc.gif);}
/* for header cell for column that is selected as sort-down column */
table.tSorter thead tr .headerSortDown {background-image: url(/imgs/jq/desc.gif);}
/* for header cell for column that is selected as sort column (up or down) */
table.tSorter thead tr .headerSortDown, table.tSorter thead tr .headerSortUp {background-color: #6699CC;}
/* for table caption */
table.tSorter caption.tblCaption {
	caption-side: bottom;
	font-size: x-small;
	vertical-align: bottom;
}
/* for footer-type info areas */
.footerInfo {
	color: #666666;
	display: block;
	font-size: 12px;
	font-style: italic;
	margin-top: 5px;
}
/* for table rows that are to be "highlighted" */
table.tSorter tbody tr.highlightRow td {
	color: #FF0000;
}

/* for download link area */
.downloadLink {
	font-size: 13px;
	margin-bottom: 5px;
}
.getHelpLink {
	font-size: 12px;
}